
    <div class="row">

        <div class="col-md-6">
            <panel panelTitle="Countries">
                <example-dropdown></example-dropdown>
            </panel>
        </div>

        <div class="col-md-6">
            <panel panelTitle="Table Example">
                <table-example mytable></table-example>
            </panel>
        </div>

    </div>


    <div class="row">

        <div class="col-md-8">
            <panel panelTitle="Testing"></panel>
        </div>

        <div class="col-md-4">
            <panel panelTitle="Testing"></panel>
        </div>

    </div>

    <div class="row">

        <div class="col-md-6">
            <panel panelTitle="Testing"></panel>
        </div>

        <div class="col-md-3">
            <panel panelTitle="Testing"></panel>
        </div>

        <div class="col-md-3">
            <panel panelTitle="Testing"></panel>
        </div>

    </div>


    <div class="row">

        <div class="col-md-4">
            <panel panelTitle="Testing"></panel>
        </div>

        <div class="col-md-4">
            <panel panelTitle="Testing"></panel>
        </div>

        <div class="col-md-4">
            <panel panelTitle="Testing"></panel>
        </div>

    </div>


    <div class="row">

        <div class="col-md-3">
            <panel panelTitle="Testing"></panel>
        </div>

        <div class="col-md-3">
            <panel panelTitle="Testing"></panel>
        </div>

        <div class="col-md-3">
            <panel panelTitle="Testing"></panel>
        </div>

        <div class="col-md-3">
            <panel panelTitle="Testing"></panel>
        </div>

    </div>
